<h1>Concpet</h1>
<p><strong>Instructions:</strong> Do things</p>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2>hi</h2>
    </div>
  </div>

  <div class="col-md-6">
    <div class="well">
      <h2>hi</h2>
    </div>
  </div>
</div>